aiohttp==3.7.4.post0
asyncio
async-lru==1.0.2
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
dnspython==2.1.0
idna==3.2
motor==2.5.1
multidict==5.1.0
pornhub-api==0.2.0
pyaes==1.6.1
pydantic==1.8.2
pymongo[srv]
bs4
Pyrogram
pyromod==1.5
PySocks==1.7.1
requests
TgCrypto
typing-extensions==3.10.0.2
urllib3==1.26.6
wget==3.2
youtube-dl==2021.6.6
yt-dlp==2023.6.22
